<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title> <!--{{title}} шаблонизатор Jinja-->
</head>
<style>
    html{
        background-color: rgb(0, 255, 115);
    }
</style>
<body>
    <h1>Hello, world!</h1>
    <a href="/stud">Список студентов</a><br>
    <a href="/info">Инофрмация обо мне</a><br>
    <a href="/calc/5/23">Калькулятор</a><br>
    <a href="/hi/Egor">Приветствие</a><br>
    <a href="/reg">Регистрация</a>
</body>
</html>